[submodule "src/c-vector"]
	path = src/c-vector
	url = https://github.com/Mashpoe/c-vector.git
[submodule "src/c-hashmap"]
	path = src/c-hashmap
	url = https://github.com/Mashpoe/c-hashmap.git
[submodule "ppyl/argparse"]
	path = ppyl/argparse
	url = https://github.com/p-ranav/argparse.git
